body{
  background-image:url(https://cdn.wallpapersafari.com/58/85/lZfN07.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
}
.container {
  outline-style: auto ;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #ffffff;

  }
  
  .class {
    margin-bottom: 20px;
    padding: 10px;
  }
  
  h2 {
    color: #ffffff;
  }
  
  p {
    color: #ffffff;
  }