body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1xVbHDgCxhMiI0RDjSatqVv6lxuotNzUsSw&usqp=CAU);
  background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    background-size:cover
  }
  
  h2 {
    color: #fffefe;
  }
  
  .container {
    background-image: url(https://wallpapercave.com/wp/wp5412909.jpg);
    background-position: 0cqmin;
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    color: #fffefe;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  .col{
    background-color: aqua;
  }