body {
  background-image:url(https://i.pinimg.com/originals/48/67/52/4867525338e2c853081e0eec381df456.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .hero {
    background-image: url("fitness.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-content {
    text-align: center;
  }
  
  h1 {
    color: #000000;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .cta-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .cta-button:hover {
    background-color: #45a049;
  }
  
  .about-us {
    color: #fff;
    padding: 50px;
    
  }
  
  .about-content {
    max-width: 800
    }
*{
    background-image:-webkit-image-set(width);
}